

html {
    margin: auto;
}


body{
    display: flex;
    flex-direction:column;
    justify-content: initial;
    min-height:100vh;
    background-color: whitesmoke;
    font-family: initial;
    font-size: 24px;
    max-width: 60%;
    color: black;
    text-align: left;
    margin: auto;
    border-left: solid;
    border-right: solid;
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: solid;
}

.sourceCode, div.sourceCode{
    color: white;
    background-color: black;
    text-align: left;
    margin: 20px;
}
a {
    color: black;
    text-decoration-line: none;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: underline black;

}
a:hover{
    color: gray;
    text-decoration: underline gray;
}

.org-src-container, .sourceCode{
    font-size: 16px;
}

img{
    max-width: 80%; /* Empêche les images de dépasser leur conteneur */
    max-height: 300px;
    border: 4px solid #000; /* Bordure noire de 2 pixels */
    border-radius: 6px; /* Coins arrondis de 10 pixels */
    padding: 4px; /* Marge intérieure de 5 pixels pour un léger espace entre la bordure et l'image */
  display: block; /* Pour que la marge auto fonctionne */
  margin: 10px auto; /* Pour centrer horizontalement */

}
th, td {
    text-align: left;
}

li{
    text-align: left;
    list-style-type: square;
}
table, th{
    border-collapse: collapse;
    border: 3px solid;
}
td{
    border-left: solid;
    border-right: solid;
}
h1, h2, h3, h4, h5, h6{
    /*background-color: #8109B7;*/
    background-size: auto;
    text-align: center;
    border-top : solid;
}

h1 {
    padding: 15px ;
}
h2{
    padding: 5px;
}

 div.sourceCode,.src-C, .src-bash{
    color: white;
    background-color: black;
    text-align: left;
    max-height: 800px;
    max-width: 100% !important;
    overflow: auto !important;
}

 .org-src-container{
    max-width: 100% !important;
    overflow: auto !important;
}

div{
    margin-bottom: 40px;
}
.vert{
    flex-direction: row;
}

#table-of-contents{
    font-size: 21px;
}

#content{
    max-width: 100%;
}
.title{
    margin-top: 0px;
}
p{
    margin: 20px;
}
