
html {
    margin: auto;
}


body{
    display: flex;
    flex-direction:column;
    justify-content:center;
    min-height:100vh;
    background-image: url("image/moss_block.png");

    font-family: initial;
    font-size: 20px;
    width: 60%;
    margin: 0 auto;
    color: black;
    text-align: center;
    margin: auto;
}
code {
    color: #ff00ff;
}

a {
    color: red;
    text-decoration-line: none;

}
a:hover{
    color: white;
}

.sourceCode{
    font-size: 16px;
}

img{
    max-width: 15%;
    max-height: 30%;
    filter: inherit;
    padding: 16px;
    transform-style: flat;
    object-fit: contain;
}
th, td {
    text-align: left;
}

li{
    text-align: left;
    list-style-type: square;
}
table, th{
    border-collapse: collapse;
    border: 3px solid;
}
td{
    border-left: solid;
    border-right: solid;
}
h1, h2, h3{
    background-size: initial;
    text-shadow: 3px 2px gray;
    font-size: 40px;
    font-size-adjust: 0.5;
}

h1 {
    padding: 15px ;
}
h2{
    margin: 0px;
    padding: 32px;
    padding-top: 48px;
}

.sourceCode, div.sourceCode{
    color: white;
    background-color: black;
    text-align: left;
    margin: 20px;
}

div, h2{
    background-image: url(image/white_wool.png);
    border-image: url(image/spruce_planks.png) 50;
    border-image-width: 16px;
    border-image-repeat: repeat;
}
.fleur{
    display: flex;
}
p{
    margin: 20px;
    padding: 20px;
}
xmp{
    font-size: 11px;
    text-align: left;
    margin: 50px;
}
.rose{
    max-width: 40%;
    padding: 20px;
}
